@import './variables';
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects > h6 {
  display: inline-block;
  border: 1px solid white;
  padding: 10px;
}
.project-display {
  padding: 40px;
  min-width: 400px;
  max-width: 1000px;
  width: 100%;
}
.project-display-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-display-title {
  color: white;
  height: fit-content;
}
.project-display-demo {
  height: 300px;
  width: 300px;

  margin-bottom: 16px;
  background-color: rgb(103, 103, 167);
}
.project-display-content {
  max-width: 425px;
  margin: 16px;
}
.project-display-content-header {
  width: 100%;
  max-width: 425px;
}
.project-display-link-container {
  display: flex;
}
.project-display-link {
  margin-right: 8px;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s linear 0s;
  background-color: rgba(0, 0, 0, 0.232);
  border: 1px solid rgba(255, 255, 255, 0.432);
  cursor: pointer;

  &::before {
    content: '\f0a4';
    font-family: FontAwesome;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 100%;
    background-color: rgba(white, 0.3);
    border-radius: 0px 6px 6px 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  &:hover {
    text-indent: -30px;

    &:before {
      right: 0;
      text-indent: 0px;
    }
  }
}
.project-display-right {
  margin-top: 16px !important;
}
.project-display-right > .container {
  display: flex;
  max-width: 425px;
}
.project-display-right > .container > .container > h6 {
  margin-bottom: 0px !important;
}
.project-display-content-list {
  margin-top: 4px;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project-display-content-list > li {
  list-style: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-display-right > .container > hr {
  display: none;
  background-color: rgb(156, 156, 156);
  height: 1px;
}

@media screen and (max-width: 576px) {
  .project-display-right > .container > hr {
    display: block;
  }
  .project-display-right > .container > .container {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .project-display-right > .container > .container > h6 {
    width: 110px;
    min-width: 110px;
    display: inline-block;
    margin-right: 8px;
  }
  .project-display-content-list > li {
    width: fit-content;
    list-style: none;
  }
  .project-display-content-list {
    margin-left: 20px;
    padding-left: 16px;
    border-left: 1px solid #ffc272;
    width: fit-content;
    min-width: 206px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .project-display-right > .container > .container {
    display: flex;
  }
}

@media screen and (max-width: 992px) {
  .project-display-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project-display-content {
    margin: 0px 0px 16px 0px;
  }
}
