@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/_variables';
@import './styles/variables';
@import './styles/mixins';

.row {
  --bs-gutter-x: none;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: none;
  margin-right: none;
  margin-left: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html,
.app,
#root {
  height: 100%;
  width: 100%;
  color: white;
  letter-spacing: 1px;
}

hr {
  margin: unset;
  opacity: unset;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: white;
  background: black;
}

.app {
  background-image: url('./images/back2.jpg');
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
}
.app::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 5px;
  border: 1px solid white;
}
.app-main {
  @include flex-row;
  justify-content: center;
  margin-bottom: 36px;
  height: fit-content;
}
.app-main-content {
  width: 100%;
  max-width: 1250px;
  height: fit-content;
}
.screen-banner {
  width: 98%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0px 30px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.56);
  margin: auto;
}
.left-banner {
  margin-top: 124px;
  border-left: 1px solid rgba(255, 255, 255, 0.432);
  border-bottom: 1px solid rgba(255, 255, 255, 0.432);
  border-radius: 30px 0px 30px 3px;
}
.right-banner {
  border-right: 1px solid rgba(255, 255, 255, 0.432);
  border-top: 1px solid rgba(255, 255, 255, 0.432);
  border-radius: 0px 30px 3px 30px;
}
.screen-footer {
  display: flex;
  justify-content: center;
  height: 164px;
  width: 100%;
  padding: 70px 0 61px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.432);
}
.screen-footer-content {
  width: 100%;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .app {
    padding-top: 74px;
  }
  .screen-banner {
    width: 95%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }
}
