@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/_variables';
@import './styles/variables';
@import './styles/mixins';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html,
.app,
#root {
  height: 100%;
  width: 100%;
}

.screen {
  @include fluid;
  @include flex-row;
  justify-content: center;
}
.screen-main {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background-color: white;
}
.screen-banner {
  height: 100%;
  width: 100%;
  padding: 300px 0 200px 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
.screen-footer {
  display: flex;
  justify-content: center;
  background-color: white;

  height: 164px;
  width: 100%;
  padding: 70px 0 61px 0;
}
.screen-footer-content {
  width: 100%;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
